<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        title 羅云謙 2021
        
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js")
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js") 
        link(rel="stylesheet", href="css/style.css")

    body 
        
        .background

        section#Home
            img.lycBack.lycBlur(src="https://i.imgur.com/sjNKkln.png", alt="")
            img.lycBack(src="https://i.imgur.com/UJyKLBL.png", alt="")
            .mouse#mouse
                img.lycFront#lycA(src="https://i.imgur.com/sjNKkln.png", alt="")
                img.lycFront.lycBlur(src="https://i.imgur.com/UJyKLBL.png", alt="")
                .t
                    h3 2021
                    h1 羅云謙
            h1.ml61
                span.text-wrapper1
                    span.letters1 很高興認識你！

        section#About
            h1 您
            h1 好
            h1 ！
            h1 我
            h1 是 
            h1.hightlight 羅
            h1.hightlight 云
            h1.hightlight 謙
            h1 。
            h1 我
            h1 是
            h1 一
            h1 個
            h1 社
            h1 會
            h1 新
            h1 鮮
            h1 人
            h1 ，
            h1 畢
            h1 業
            h1 於
            h1.hightlight 國
            h1.hightlight 立
            h1.hightlight 清
            h1.hightlight 華
            h1.hightlight 大
            h1.hightlight 學
            h1 。
            h1 我 
            h1 就
            h1 讀 
            h1.hightlight 資
            h1.hightlight 訊
            h1.hightlight 工
            h1.hightlight 程
            h1.hightlight 學
            h1.hightlight 係
            h1 ，
            h1 並
            h1 且
            h1 修
            h1 習
            h1 了
            h1.hightlight 創 
            h1.hightlight 新 
            h1.hightlight 設
            h1.hightlight 計
            h1.hightlight 學
            h1.hightlight 分
            h1.hightlight 學
            h1.hightlight 程
            h1 。
            h1 藝
            h1 術
            h1 和
            h1 設
            h1 計
            h1 一
            h1 直
            h1 是
            h1 我
            h1 的 
            h1 興
            h1 趣
            h1 ，
            h1 加
            h1 上
            h1 我
            h1 在
            h1 寫
            h1 程
            h1 式
            h1 方
            h1 面
            h1 的
            h1 能
            h1 力
            h1 ，
            h1 希
            h1 望
            h1 日
            h1 後
            h1 可
            h1 以
            h1 加
            h1 入
            h1 科
            h1 技
            h1 藝
            h1 術
            h1 產
            h1 業
            h1 。

        section#Link
            .link 
                a.linkBox#linkBox1(onmouseover="letter(this.id)" href="experienceCh.html")
                    h3.ml11
                        span.text-wrapper(onclick="click1()")
                            span.line.line1
                            span.letters 工作經驗
                    .linkCover(onclick="click1()" )

                a.linkBox#linkBox2(onmouseover="letter(this.id)" href="skillCh.html") 
                    h3.ml11
                        span.text-wrapper
                            span.line.line1
                            span.letters 專業技能
                    .linkCover(onclick="click1()" )
                a.linkBox#linkBox3(onmouseover="letter(this.id)" href="moreCh.html") 
                    h3.ml11
                        span.text-wrapper
                            span.line.line1
                            span.letters 更多作品
                    .linkCover(onclick="click1()" )
                a.linkBox#linkBox4(onmouseover="letter(this.id)" href="contactCh.html") 
                    h3.ml11
                        span.text-wrapper
                            span.line.line1
                            span.letters 聯絡方式

        
            
        section#nav 
            a.filter#filterA(href="index.html")
                h3 English

        

        script(src="js/function.js")
        script(src="js/vueCh.js")